---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Image } from "@astrojs/image/components";

const TeamImg1 =
  "https://drive.google.com/uc?export=download&id=1ld2sunf64RoQY3XOqJ_nVdtcHMeuS3L_";
const TeamImg2 =
  "https://drive.google.com/uc?export=download&id=1ygHkMMYHQLXBDPXEljw5UA2cKlBS3iIA";
const TeamImg3 =
  "";

const team = [
  {
    name: "James Bohrman",
    title: "Founder and CEO",
    avatar: {
      src: TeamImg1,
      width: 560,
      height: 560,
    },
  },
  {
    name: "Arindam Barman",
    title: "Co-Founder and CTO",
    avatar: {
      src: TeamImg2,
      width: 580,
      height: 580,
    },
  },
];
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">We are a small passionate team.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Helping community builders brew their strategy.
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We're a diversely talented team from around the world that comes from a variety of professional
        backgrounds, bringing different personalities, experiences and skills to
        the job. This is what makes any team special.
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        team.map((item) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Image
                {...item.avatar}
                format="avif"
                alt="Team"
                class="w-full h-full object-cover rounded transition  group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800"> {item.name}</h2>
              <h3 class="text-sm text-slate-500"> {item.title}</h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
