---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";
import { SEO } from "astro-seo";

const pricing = [
  {
    name: "Starter",
    price: "$85/mo",
    popular: false,
    features: [
      "5 Seats",
      "Up to 3 Plans",
      "Up to 18 Objectives",
      "Basic Integrations",
      "Community Support",
      "",
    ],
    button: {
      text: "Start your 14-Day Free Trial",
      link: "/",
    },
  },
  {
    name: "Scale",
    price: {
      monthly: "$172/mo",
      annual: "$2064",
      discount: "10%",
      original: "",
    },
    popular: true,
    features: [
      "All Starter Features",
      "Up to 10 seats",
      "Up to 6 Plans",
      "Up to 36 Objectives",
      "Advanced Integrations",
      "Priority Chat Support",
    ],
    button: {
      text: "Start your 14-day Free Trial",
      link: "/",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Seats",
      "99.99% Uptime SLA",
      "SAML & SSO Integration",
      "Dedicated Account Manager",
      "24/7 Phone Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

 <SEO
title="Pricing"
description="Take advantage of a fair and transparent pricing model." />
<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
