---
import heroImage from "assets/hero.png";
import { Image } from "@astrojs/image/components";
import Button from "@components/ui/button.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";

const features = [
{
    title: "Kanban style task board",
    icon: "bx:bxs-bar-chart-alt-2",
  },
  {
    title: "OKR Templates (Coming Soon)",
    icon: "bx:bxs-bar-chart-alt-2",
  },
  {
    title: "Automated performance tracking",
    icon: "bx:bxs-bar-chart-alt-2",
  },
];
---

<div class="mt-20 md:mt-0">
  <h2 class="text-center mt-20 text-3xl lg:text-4xl font-bold lg:tracking-tight">
    Check out Distilled in action
  </h2>
  <p class="text-center text-lg mt-4 text-slate-600">
    See how we you can use out tool to manage your DevRe strategy.
  </p>
</div>
    <div class="md:order-2 pt-15 mt-10 hidden md:block">
     <video autoplay loop muted playsinline class="mx-auto w-3/5 h-3/5 object-cover">
        <source src="https://drive.google.com/uc?export=download&id=1mV-2ebEmiOO0wJ9R-MkftgiUUiFjBQm1" type="video/mp4">
      </video>
    </div>
