---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Consolidate reporting",
    description:
      "Having an abundance of community data with no clear goals can be daunting. A platform to distill that info can make life easier",
    icon: "bx:bxs-bar-chart-alt-2",
  },
  {
    title: "Actionable Context",
    description:
      "Provide your community team with greater context into community metrics and take action based on the results",
    icon: "bx:bx-radar",
  },
  {
    title: "See what works",
    description:
      "Set plans and see which ones are successful and which ones fissile out, giving you greater insight into your strategy",
    icon: "bx:bxs-spreadsheet",
  },
  {
    title: "Communicate value",
    description:
      "Justify community initiatives to the stuffy collared shirts 👔 in the C-Suite with accurate reporting on community impact",
    icon: "bx:bx-money",
  },
  {
    title: "Automated goal tracking",
    description:
      "Automatically track and measure goals and their progress via integration or manually",
    icon: "bx:bxs-bullseye",
  },
  {
    title: "Rich integrations ecosystem",
    description:
      "Leverage a rich integrations ecosystem with connections such as Slack, Discord, and Orbit",
    icon: "bx:bxs-cog",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Why do I need a community OKR tool?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    A community strategy platform help make sense of your community metrics.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
